body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url('/Images/LA-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
h1{
    font-size: 65px;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    max-width: 100%;
    height: auto;
}

.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding-top: 30px;
    
}
.Content a{
    padding-right: 20px;
    text-decoration: none;
    
}
