body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    background-image: url("/Images/LA-1.jpg");
    background-size: 100% 100%;    
    background-attachment: fixed;
}

.return{
    
    font-size: xx-large;
    display: inline;
    height: 40px;
    background-color: rgb(150, 150, 150);
    font-style: italic;
    
}
.container{
    
    width: 60%;
    height: 700px;
    overflow: auto;
    background-color: rgb(150, 150, 150);
    padding: 20px;
    margin: 100px auto;

    
    
}
.container_contents{
    display: flex;
    padding: 10px;
    gap: 200px;
    justify-content: flex-end;
}
.Record {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #F0F0F0; 
    border: 2px solid #808080; 
    text-align: center;
}
iframe {
    border: 2px solid black;
    filter: grayscale(100%); 
    opacity: .8; 
}
/*Might delete due to potential combatability */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #555555;
}


::-webkit-scrollbar-thumb {
    background: #c4c3c3;
}
::-webkit-scrollbar-button{
    background-color: #c4c3c3;
}